In [1]:
import pandas as pd
import numpy as np

In [2]:
#!cat ../listings.json

In [3]:
data = pd.read_json('app/data/listings.json')

In [4]:
#data.head()

In [5]:
# All the columns
data.columns

Index([           u'addr',           u'agent',       u'availDate',
                  u'bath',             u'bed',            u'boro',
                  u'brkr',         u'buildID',         u'daysMkt',
                  u'desc',             u'geo',             u'lAm',
           u'lAm_balcony',    u'lAm_basement',      u'lAm_bikeRm',
           u'lAm_brdApRq',      u'lAm_centAC',   u'lAm_childPlay',
           u'lAm_concier',   u'lAm_courtyard',  u'lAm_dishwasher',
           u'lAm_doorman',    u'lAm_elevator',        u'lAm_fios',
         u'lAm_fireplace',   u'lAm_furnished',      u'lAm_garage',
            u'lAm_garden',    u'lAm_gatedCom',        u'lAm_golf',
       u'lAm_guarantorOK',         u'lAm_gym',     u'lAm_laundry',
       u'lAm_liveInSuper',        u'lAm_loft',      u'lAm_lounge',
           u'lAm_mediaRm',   u'lAm_packageRm',     u'lAm_parking',
             u'lAm_patio',        u'lAm_pets',        u'lAm_pool',
            u'lAm_recFac',    u'lAm_roofDeck',   u'lAm_smokeFree',
           u'lAm_storage',      u'lAm_sublet',      u'lAm_tennis',
           u'lAm_terrace', u'lAm_washerDryer',             u'lID',
                   u'lat',        u'listDate',      u'listStatus',
              u'listType',             u'lon',            u'nabe',
                 u'noFee',            u'ppsf',           u'price',
              u'propType',            u'room',            u'sqft',
                 u'title',             u'url',             u'zip'],
      dtype='object')

In [6]:
#type of each columns
#data.dtypes

In [7]:
# Let's look at an example:
data.head(1).transpose()

                                                                 0
addr             334 East 30th Street in Kips Bay, New York, NY...
agent                                              Steve Merlesena
availDate                                2015-08-28T00:00:00-04:00
bath                                                             1
bed                                                              1
boro                                                     MANHATTAN
brkr                                             GREEN LINE REALTY
buildID                                                      16524
daysMkt                                                         62
desc             Townhouse for rent in Kips Bay, Manhattan for ...
geo                                              40.7415; -73.9763
lAm
lAm_balcony                                                  False
lAm_basement                                                 False
lAm_bikeRm                                                   False
lAm_brdApRq                                                  False
lAm_centAC                                                   False
lAm_childPlay                                                False
lAm_concier                                                  False
lAm_courtyard                                                False
lAm_dishwasher                                               False
lAm_doorman                                                  False
lAm_elevator                                                 False
lAm_fios                                                     False
lAm_fireplace                                                False
lAm_furnished                                                False
lAm_garage                                                   False
lAm_garden                                                   False
lAm_gatedCom                                                 False
lAm_golf                                                     False
...                                                            ...
lAm_mediaRm                                                  False
lAm_packageRm                                                False
lAm_parking                                                  False
lAm_patio                                                    False
lAm_pets                                                     False
lAm_pool                                                     False
lAm_recFac                                                   False
lAm_roofDeck                                                 False
lAm_smokeFree                                                False
lAm_storage                                                  False
lAm_sublet                                                   False
lAm_tennis                                                   False
lAm_terrace                                                  False
lAm_washerDryer                                              False
lID                                                        1621715
lat                                                        40.7415
listDate                                                2015-08-28
listStatus                                                 CURRENT
listType                                                    RENTAL
lon                                                       -73.9763
nabe                                                      KIPS-BAY
noFee                                                        False
ppsf                                                             0
price                                                         2495
propType                                                 TOWNHOUSE
room                                                             0
sqft                                                             0
title                         334 East 30th in Kips Bay, Manhattan
url              http://streeteasy.com/building/334-east-30-str...
zip                                                          10016

[66 rows x 1 columns]

In [8]:
#group LAm
#price per sqt
#price per bdr (studio = 0.75)
#price per room? (come up with a weight for baths)
#price per Amenities
#days on market
#fee/no fee
#price per boro
#price per nabe
#price per zip
#price per long/lat
#mlr on everything to learn price and day on market

In [9]:
data['ppsf'] = data['price']/data['sqft']*12
data['ppsf'][np.isinf(data['ppsf'])] = 0

/Users/jfdarre/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [10]:
data['new_bed'] = np.floor(data['bed'])
data['new_bed'] = [max(0,min(x,5)) for x in data['new_bed']]
data.groupby(['boro','new_bed'])[['price','daysMkt']].apply(lambda x: np.round(np.mean(x)))

                       price  daysMkt
boro          new_bed
BRONX         0         1385       63
              1         1487       28
              2         1950       47
              3         2295       61
              4         2604       41
              5        19267      374
BROOKLYN      0         2786       49
              1         2472       33
              2         2907       37
              3         3388       41
              4         4470       51
              5         6796       78
MANHATTAN     0         3099       68
              1         3806       67
              2         5913       61
              3         9353       67
              4        13161       77
              5        38297      108
QUEENS        0         2153       50
              1         2120       43
              2         2631       45
              3         3019       39
              4         3860       31
              5         4700       32
STATEN-ISLAND 0         1169      113
              1         1572       53
              2         1964       83
              3         2154      110
              4         1967      161
              5         2300      130

In [11]:
print data.groupby(['boro'])[['bed']].count()['bed'].mean()
print data.groupby(['nabe'])[['bed']].count()['bed'].mean()
print data.groupby(['zip'])[['bed']].count()['bed'].mean()

3987.2
85.5622317597
115.906976744

In [12]:
data.groupby(['new_bed','boro'])[['price']].count()

                       price
new_bed boro
0       BRONX             29
        BROOKLYN         435
        MANHATTAN       1993
        QUEENS           168
        STATEN-ISLAND      5
1       BRONX            176
        BROOKLYN        1681
        MANHATTAN       4569
        QUEENS           769
        STATEN-ISLAND     19
2       BRONX            130
        BROOKLYN        2229
        MANHATTAN       3426
        QUEENS           762
        STATEN-ISLAND     19
3       BRONX             69
        BROOKLYN         962
        MANHATTAN       1298
        QUEENS           330
        STATEN-ISLAND     13
4       BRONX             14
        BROOKLYN         270
        MANHATTAN        326
        QUEENS            51
        STATEN-ISLAND      3
5       BRONX              3
        BROOKLYN          71
        MANHATTAN        104
        QUEENS            11
        STATEN-ISLAND      1

In [13]:
# price per boro:
data.groupby(['boro'])[['price','bed','daysMkt','noFee']].apply(lambda x: np.round(np.mean(x),1))

                price  bed  daysMkt  noFee
boro
BRONX          1919.0  1.7     44.4    0.3
BROOKLYN       2974.0  2.3     38.8    0.4
MANHATTAN      5483.0  1.5     66.0    0.4
QUEENS         2507.0  1.7     43.3    0.3
STATEN-ISLAND  1820.5  2.3     86.4    0.2

In [14]:
# price per nabe:
data.groupby(['nabe'])[['price','bed','daysMkt','noFee']].apply(lambda x: np.round(np.mean(x),1))

                       price   bed  daysMkt  noFee
nabe
ARROCHAR              1845.0   2.0     44.0    0.0
ASTORIA               2479.2   1.9     37.3    0.1
AUBURNDALE            1990.0   1.8     16.2    0.3
BATH-BEACH            1961.3   2.4    100.8    0.1
BATTERY-PARK-CITY     6703.0   1.6     51.0    0.6
BAY-RIDGE             2094.7   1.8     38.1    0.1
BAY-TERRACE           2600.0   2.0     11.0    1.0
BAY-TERRACE-QUEENS    2393.8   1.4     47.5    0.2
BAYSIDE               2202.5   1.9     94.2    0.1
BEDFORD-PARK          1577.1   1.6     21.6    0.1
BEDFORD-STUYVESANT    2651.8   2.1     52.1    0.5
BEECHHURST            3150.0   3.0    271.0    0.0
BEEKMAN               6781.3   1.9     48.7    0.6
BELLEROSE             1928.3   1.8     21.7    0.5
BELMONT               1623.0   2.0     32.5    0.1
BENSONHURST           1768.2   1.7     57.0    0.1
BERGEN-BEACH          2400.0   3.0     37.0    0.0
BOERUM-HILL           3409.2   1.4     39.3    0.3
BOROUGH-PARK          2124.9   1.9     23.8    0.2
BRIARWOOD             1772.4   1.2     36.7    0.2
BRIGHTON-BEACH        2509.3   1.8     61.7    0.5
BRONX                 2175.0   2.0    226.5    0.5
BRONXDALE             1544.2   1.3     42.2    0.5
BRONXWOOD             1533.3   1.3     14.3    0.0
BROOKLYN              3050.7   1.5     15.0    0.5
BROOKLYN-HEIGHTS      4543.0   1.4     48.7    0.3
BROWNSVILLE           1718.6   1.6     42.4    0.2
BULLS-HEAD            1950.0   3.0     21.0    0.0
BUSHWICK              2765.1   2.6     28.5    0.6
CANARSIE              2068.3   2.1     90.1    0.0
...                      ...   ...      ...    ...
TRIBECA              10689.5   1.8     50.8    0.3
TURTLEBAY             5319.1   1.3     65.3    0.2
TWO-BRIDGES           3285.2   1.8     58.6    0.4
UNIVERSITY-HEIGHTS    1470.0   1.5     37.5    0.0
UPPER                 2750.0   1.0      2.0    0.0
UPPER-CARNEGIE-HILL   8971.0   2.3     78.3    0.6
UPPER-EAST-SIDE       7720.7   1.4     74.5    0.2
UPPER-WEST-SIDE       5263.2   1.6     55.0    0.3
UTOPIA                2250.0   3.0    284.0    0.0
VAN-NEST              1125.0   0.5      3.0    0.0
VINEGAR-HILL          3992.0   1.5     57.6    0.9
WAKEFIELD             1534.5   1.8     50.3    0.5
WASHINGTON-HEIGHTS    2300.7   1.9     45.1    0.3
WEEKSVILLE            1996.8   2.0     37.1    0.4
WEST-BRIGHTON         1500.0   4.0    197.0    0.0
WEST-CHELSEA          6904.8   1.9    100.4    0.4
WEST-FARMS            1625.0   2.0      4.0    0.0
WEST-HARLEM           2480.7   2.0     60.8    0.2
WEST-VILLAGE          6699.9   1.3     48.2    0.2
WESTCHESTER-VILLAGE   1133.3   0.7     85.0    0.0
WHITESTONE            3514.3   1.6     59.6    0.0
WILLIAMSBRIDGE        1600.0   1.8     28.2    0.1
WILLIAMSBURG          3778.4   1.6     32.0    0.5
WINDSOR-TERRACE       2991.3   1.7     34.9    0.6
WINGATE               2271.5   2.0     27.0    0.6
WOODHAVEN             1839.2   1.9     22.0    0.1
WOODROW               2300.0  30.0    130.0    0.0
WOODSIDE              2060.4   1.7     19.0    0.0
WOODSTOCK             2065.0   3.0    133.7    0.0
YORKVILLE             3784.6   1.3     61.4    0.4

[233 rows x 4 columns]

In [15]:
# price per zip:
data.groupby(['zip'])[['price','daysMkt']].apply(lambda x: np.round(np.mean(x)))

       price  daysMkt
zip
10001   4930      102
10002   3746       44
10003   5152       73
10004   4600       86
10005   4408       62
10006   4537       56
10007   9358       50
10009   3526       40
10010   5475       60
10011   6504       53
10012   8118       70
10013  10308       53
10014   6755       47
10016   4638       68
10017   8164       58
10018   4184       73
10019   5962      122
10020   1600       22
10021   6322       68
10022   8130       76
10023   5656       55
10024   5724       59
10025   4368       77
10026   3343       49
10027   3175       59
10028   4934       65
10029   2996       50
10030   2564       43
10031   2693       40
10032   2298       47
...      ...      ...
11372   2244       42
11373   1962       39
11374   2281       35
11375   2498       35
11377   2105       23
11378   1833       23
11379   2058       26
11385   2553       22
11413   2300       41
11414   2050       14
11415   2086       43
11416   2500       28
11417   1500       81
11418   2810       34
11419   1500        4
11420   1400       21
11421   1736       22
11422   2000       25
11423   1400        2
11426   1843       18
11428   1575        7
11429   2500        6
11432   1970       19
11433   1366       34
11435   1679       34
11436   1750       42
11691   2561       30
11692   1300       15
11693   1700       43
11694   1467       30

[172 rows x 2 columns]

In [16]:
#grouping amenities in categories:
data['lam_outdoor']     = data['lAm_balcony'].astype(int)     +  data['lAm_courtyard'].astype(int) + \
                          data['lAm_garden'].astype(int)      +  data['lAm_patio'].astype(int)     + \
                          data['lAm_roofDeck'].astype(int)    +  data['lAm_terrace'].astype(int)

data['lam_luxury']      = data['lAm_centAC'].astype(int)      +  data['lAm_concier'].astype(int)   + \
                          data['lAm_liveInSuper'].astype(int) +  data['lAm_doorman'].astype(int)   + \
                          data['lAm_golf'].astype(int)        +  data['lAm_fireplace'].astype(int) + \
                          data['lAm_tennis'].astype(int)      +  data['lAm_pool'].astype(int)      + \
                          data['lAm_loft'].astype(int)

data['lam_mnties']      = data['lAm_gym'].astype(int)         +  data['lAm_laundry'].astype(int)   + \
                          data['lAm_washerDryer'].astype(int) +  data['lAm_lounge'].astype(int)    + \
                          data['lAm_mediaRm'].astype(int)     +  data['lAm_fios'].astype(int)      + \
                          data['lAm_dishwasher'].astype(int)  +  data['lAm_recFac'].astype(int)

data['lam_convnce']     = data['lAm_bikeRm'].astype(int)      +  data['lAm_basement'].astype(int)  + \
                          data['lAm_gatedCom'].astype(int)    +  data['lAm_elevator'].astype(int)  + \
                          data['lAm_packageRm'].astype(int)   +  \
                          data['lAm_childPlay'].astype(int)   +  data['lAm_smokeFree'].astype(int) + \
                          data['lAm_storage'].astype(int)

data['lam_car']         = data['lAm_garage'].astype(int)      +  data['lAm_parking'].astype(int)

data['lam_guarantorOK'] = data['lAm_guarantorOK'].astype(int)

data['lam_furnished']   = data['lAm_furnished'].astype(int)

data['lam_pets']        = data['lAm_pets'].astype(int)

data['lam_sublet']      = data['lAm_sublet'].astype(int)

In [17]:
data['new_bath'] = [max(0,min(x,5)) for x in data['bath']]

In [18]:
#data.replace(u'\xb7', '').replace(u'\u2022', '').replace(u'\xb2', '')
data.to_csv('app/data/listings.csv', encoding='utf-8')

In [30]:
max(data['sqft'])

18000

In [20]:
data['lAm_balcony'].unique()

array([False, True], dtype=object)